<div class="b-main">
	<div class="b-sidebar">
		<ul>
			<li>Name: {{ first_name }}</li>
			<li>Lastname: {{ last_name }}</li>
			<li>Age: {{ age }}</li>
			<li>Location:{{ location }}</li>
		</ul>
	</div>
	<div class="b-center">
		<h1>{{ first_name}}</h1> <h1>{{last_name}}</h1>
	</div>
</div>